body {
  padding-top: 50px;
}
.main {
  padding: 40px 15px;
}

.img-species {
	max-width:200px;
	max-height:200px;
	margin-bottom: 10px;
	margin-left: 10px;
}


/* centered columns styles */
.row-centered {
	display:block;
    margin-left: auto;
    margin-right:auto;
}
.col-centered {
    display:inline-block;
    float:center;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}